@charset "UTF-8";
/* CSS Document */


/*-------------------------------------------------

	アガレスト戦記 contents.css


	

--------------------------------------------------*/






/*-------------------------  home -----------------------------------*/


.home .txt_1{padding:15px 20px 15px 10px;line-height:1.8em;font-size:92%;}


/*--- alice ---*/

#alice{padding:0 0 30px 0;background:url() no-repeat left bottom;}
#alice .img_l{width:240px;}
#alice .txt_r{width:290px;}
#alice .txt_r table td,#alice .txt_r table th{font-size:92%;border:solid 1px #ccc;padding:5px 7px;background-color:#fff;}
#alice .txt_r table th{text-align:center;background-color:#eee;font-weight:bold;}
#alice .txt_r .btn{text-align:right;margin-top:8px;}

 .img_l p{
 	margin-bottom:10px;
 	}

/*--- news ---*/


.home #news .inner{padding:10px 5px;}
.home #news td{padding:8px 0;}
.home #news .day{background:url(../images/icon_arrow_r.jpg) no-repeat 3px 13px;vertical-align:top;padding-left:20px;padding-right:15px;font-size:77%;}
.home #news .txt{font-size:92%;}


/*--- chara ---*/

.home #chara .txt{font-size:92%;padding:10px 15px 10px 10px;}
.home #chara .btnarea{text-align:right;padding:0 12px 30px 0;}
.home #chara .btnarea p{margin-bottom:3px;}



/*-------------------------  privacy -----------------------------------*/


.privacy dl{padding:20px 5px 40px 5px;background:url(../images/bg_stitch.gif) no-repeat left bottom;}
.privacy dt,.privacy dd{font-size:92%;}
.privacy dt{font-weight:bold;}
.privacy dd{padding:5px 0 0 10px;}


/*-------------------------  cart -----------------------------------*/


.cart .contents_inn{padding:0 0 35px 0;background:url(../images/bg_stitch.gif) no-repeat left bottom;min-height:350px;_height:350px;}
.cart table td,.cart table th{font-size:92%;border:solid 1px #E0CB99;padding:5px 10px;}
.cart table th{text-align:center;background-color:#F8F3EA;}
.cart .btn1{margin-top:25px;text-align:center;}
.cart .btn2{padding-top:15px;}
.cart .btn2,.cart .btn2 td{border:none;}
.cart .btn2 .btn_l{text-align:right;padding:0 5px 0 0;}
.cart .btn2 .btn_r{text-align:left;padding:0px;}
.cart .warning{padding:15px 0;}
.cart .warning,.cart .warning td{font-size:100%;}
.cart .warning td{border:none;vertical-align:top;color:#FF3300;}
.cart .warning td td{font-size:92%%;text-align:left;padding:0px;}
.cart .warning .txt{text-align:left;}
.cart .thanks{text-align:center;padding:40px 10px;}
.cart .mk{color:#CEB868;}


/*-------------------------  第二段告知 -----------------------------------*/

#chara .second_charactor{
	list-style-type:none;
	margin:0px auto 20px;
	}
	
#chara .second_charactor li{
	float:left;
	margin-left:10px;
	}

#chara .second_charactor li .char_name{
	text-align:center;
	font-weight:bold;
	padding:5px 0px;
	}

/*-------------------------  タブボタン -----------------------------------*/

#pageBtn ul{
	width:534px;
	height:30px;
}

#pageBtn ul li{
	float:left;
	width:100px;
	height:30px;
	background:#000;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	margin-right:1px;
	font-size:10px;/*------ koko ------*/

}

#pageBtn ul li.current{
	background:url(../images/current.gif) center left no-repeat #000;
}

#pageBtn ul li.current a{
	color:#fff;
	background:url(../images/current.gif) center left no-repeat #000;
}
#pageBtn ul li .submenu a,
#pageBtn ul li.current .submenu a{
	color:#ff0000;	
	background:#000;
	font-size:11px;
	font-weight:normal;
	width:100%;
}

#pageBtn ul li .submenu a:hover,
#pageBtn ul li.current .submenu a:hover {
	color:#fff;
	background:#000;
	text-decoration:underline;
}

#pageBtn ul li.trading{
	width:170px;
	text-align:center;
}

#pageBtn ul li.event{
	width:140px;
	text-align:center;
}

#pageBtn ul li a{
	display:block;
	width:110px;
	height:30px;
	background:#000;
	color:#ff0000;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	margin-right:1px;
	text-decoration:none;
}

#pageBtn ul li.trading a{
	width:170px;
	}
	
#pageBtn ul li.event a{
	width:140px;
	}

#pageBtn ul li a:hover{
	border-top:none;
	background:url(../images/current.gif) center left no-repeat #000;
	color:#fff;
		}

.dramaCDtab{
	padding:5px 10px;
	font-weight:bold;
}

.dramaCDtab a{
	font-weight:normal;
	
}
	
/*- drop_down1 ---------------------------------- */
#dd {
	margin: 0;
	padding: 0;
}

#dd li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 12px arial;
}

#dd li a.menu {
	display: block;
	text-align: center;
	background: #ff8000;
	padding: 5px 15px;
	margin: 0 1px 0 0;
	color: #FFF;
	width: 100px;
	text-decoration: none;
}

#dd li a.menu:hover {
	background: #ffaa55;
}

.submenu {
	background: #ffddbb;
	border: 1px solid #fff;
	visibility: hidden;
	position: absolute;
	z-index: 3;
}

.submenu a {
	display: block;
	text-decoration: none;
	padding: 0 5px;
	color: #ff8000;
	border-bottom:1px solid #fff;
}

.submenu a:hover {

}

.fdDtail{
	margin:10px 0;
}
.fdDetail_left{
	width:140px;
	float:left;
}

.fdDetail_right{
	width:400px;
	float:right;
}

#specialCS{
	padding:8px;
	line-height:130%;
	width:756px;
	margin:10px auto;
	background:#eee;
	border:1px solid #000;
}

#specialCS h2{
	font-weight:bold;
	font-size:16px;
	color:#dd0000;
}

#specialCS ul {
	width:736px;
	padding:5px;
	background:#000;
	margin:10px auto;
}

#specialCS ul li{
	float:left;
	margin-right:2px;
}


#specialCS ul li.last{
	margin:0;
}

/*info*/

#informationArea table{
	margin:0 0 10px;
	width:565px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;	
	border-right:1px solid #ccc;	
	font-size:11px;
}

#informationArea table tr.cl1,
#informationArea table tr.cl3,
#informationArea table tr.cl5,
#informationArea table tr.cl7,
#informationArea table tr.cl9{
	background:#eee;
}

#informationArea table tr td{
	padding:2px 5px;
}

/*2012_1_12*/
#pageBtn2 ul{
	width:534px;
	height:30px;
}

#pageBtn2 ul li{
	float:left;
	width:100px;
	height:30px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	margin-right:1px;
	font-size:10px;/*------ koko ------*/
}

#pageBtn2 ul li a{
	display:block;
	width:110px;
	height:30px;
	color:#ff0000;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	margin-right:1px;
	text-decoration:none;
}

#pageBtn2 ul li a:hover{
	border-top:none;
	background:url(../images/event_goods1.jpg) center left no-repeat;
	color:#ff0000;
		}